.modal{
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: rgba(92, 91, 91, 0.562);
    position: absolute;
    top: 0;
    left: 0;
  }
  .modal-container{
    width: 60%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #dddddd;
    position: relative;
    border-radius: 10px;
    box-shadow: 0px 0px 20px;
    padding: 20px;
  }
  .modal-head{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: flex-start;
    font-size: 10px;
    color: #8d8d8d;
  }
  .modal-container section{
    width: 95%;
    background-color: white;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    margin: 5px;
    border-radius: 5px;
  }
  .modal-container section img{
    width: 5%;
  }
  .modal-container h1{
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
  }
  #close-button{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    border: none;
    background-color: #ddd;
  }
  #close-button img{
    width: 100%;
    height: 100%;
  }
  #input-title {
    width: 90%;
    height: 30px;
    text-align: left;
    border: none;
    border-radius: 5px;
  }
  #input-description{
    width: 90%;
    height: 100px;
    text-align: left;
    border: none;
    border-radius: 5px;
  }
  #create-button{
    width: 5%;
    height: 20px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    align-self: flex-end;
    margin-top: 5px;
    background-color: #ddd;
  }
  #create-button img{
    width: 100%;
    height: 100%;
  }
  